.footer
    p
        small
            a.a-inherit(href='https://github.com/arawind', target='_blank')
                i(class='icon-font icon-github-circled')
        small
            a.a-inherit(href='https://fb.com/aravind.pedapudi', target='_blank')
                i(class='icon-font icon-facebook')
        small
            a.a-inherit(href='https://twitter.com/TheGeekRambler', target='_blank')
                i(class='icon-font icon-twitter')
    p
        small
            a(href='https://github.com/arawind/blogjs', target='_blank') View the source code of this page!
