html
    head
        title The Geek Ramblings
        link(href='/static/style/normalize.css', rel='stylesheet')
        link(href='/static/style/skeleton.css', rel='stylesheet')
        link(href='/static/style/blog.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    body
        .container
            include header.jade
            ul.list-flex-justify
                each val in articles
                    li
                        div
                            p 
                                a(href='posts/' + val.slug)!= val.title
                            p.align-right!= val.createdAt
            include footer.jade

