html
    head
        title!= title + '| The Geek Ramblings'
        link(href='/static/style/normalize.css', rel='stylesheet')
        link(href='/static/style/skeleton.css', rel='stylesheet')
        link(href='/static/style/blog.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    body
        .container
            include header.jade
            .content
                != body
                small(title!= 'Updated: ' + updatedAt)!= 'Created: ' + createdAt
            include footer.jade
