html
    head
        title!= title
        link(href='/static/style/normalize.css', rel='stylesheet')
        link(href='/static/style/skeleton.css', rel='stylesheet')
        link(href='/static/style/index.css', rel='stylesheet')
    body
        div(class='container')
            h1(style='text-align:center') The Geek Rambler
            p(style='text-align:center') Blog by Aravind Pedapudi
            div!= body
            small(title!= 'Updated: ' + updatedAt)!= 'Created: ' + createdAt
