.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.border-pad {
    border-top: 1px solid grey;
    padding-top: 5rem;
}
ul.list-flex-justify {
    list-style-position: outside;
}
.list-flex-justify > li > div {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
